*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}
body{
    background-color: blue;
}

.main{
    width: 100%;
    height: 100%;
    background-color: #000;
    /* background-color: #131316; */
    display: flex;
    grid-template-rows: auto;
    
    padding: 10px;
    gap: 0 10px;
    position:fixed;
    

}
.contentBox{
    width:80%;
    height:92%;
    background-color: black;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    white-space: nowrap;
    scrollbar-color: gray black;
    position: relative;


   
}

.sideBox{
    width: 20vw;
    height: 90vh;
    background-color: black;
    border-radius: 10px;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: white;
    top: 680px;
    
}

.musicdetail{
    width: 30%;
    height: 60px;
    background-color: #000;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.musicTrack{
    width: 40%;
    height: 60px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}
.trackconrols{
    width: 30%;
    height: 60px;
    /* background-color: rgb(223, 118, 188); */
    background-color: #000;
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 8px;
    gap: 0px;
}

/* footc first box portion  */

.musicdetail img{
    width: 10%;
    height: 55px;
    margin-left: 2px;
    border: 1px solid #000;
    border-radius: 4px;
}
.musicdetaillink{
    min-width: 20%;
    height: 55px;
    display: flex;
    flex-direction: column;
    background:none;
    /* padding: 4px; */
    padding-left: 8px;

}
 

#head{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
#name{
    font-weight: 200;
    color: #A7A7A7;
    text-decoration: none;
}
#head:hover,
#name:hover{
    text-decoration: underline;
    color: white;
}
.musicdetail button{
    color: #A7A7A7;
    width: 10%;
    height:55px;
    background: none;
    border: none;
}
.musicdetail button:hover{
    color: white;
}

/* footer second box track of song */

.controlbutton{
    width: 60%;
    height: 28px;
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.track{
    width: 80%;
    height: 28px;
    /* background-color: #000; */
    /* background-color: rgb(23, 0, 128); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#progress{
    -webkit-appearance: none;
    width:80%;
    height: 4px;
    background-color:#A7A7A7;
    border-radius: 3px;
    cursor: pointer;

}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    

}
.cover{
    width: 35px;
    height: 20px;
    /* background-color: white; */
    color:#A7A7A7;
    padding: 1px;
}
.total{
    width: 35px;
    height: 20px;
    /* background-color: white; */
    color:#A7A7A7;
    padding: 1px;
}
.combine{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:25px;
     

}
.combine button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.playpause{
    width: 28px;
    height: 28px;
    padding-bottom: 1px;
    /* background-color: aqua; */
    /* display: flex; */
}
.playpause button{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: #000;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.trackconrols button{
    width: 40px;
    height:40px ;
    /* background-color: navajowhite; */
    color: #A7A7A7;
    border: none;
    background: none;

}
.trackconrols button:hover{
    color: white;
}
#volume{
    -webkit-appearance: none;
    width:25%;
    height: 4px;
    background-color:#A7A7A7;
    border-radius: 3px;
    cursor: pointer;
}
#volume::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
 

.nevbar{
    /* height:300px; */
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   align-items: start;
   position: sticky;
   top: 0;
   /* z-index: 100; */
}
.searchBar{
    width: 30%;
    height: 60px;
    background-color:#242424;
    border-radius: 30px;
    color: #A7A7A7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
    position: absolute;
    left: 11%;
}
.searchBar input{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-size: 15px;
    padding: 12px;
    font-weight: 500;
    background: none;
    border: none;
    color: white;

}
.searchBar:hover{
    border: 2px solid white;
     
    
    
}
.searchhide{
    display:none;
}

.back-forth{
    height: 64px;
    width: 100px;
    /* background-color: rgb(74, 26, 195); */
    display: flex;
    gap: 10px;
    margin-left: 10px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    
    
    
}
.nevbar .back-forth button{
    height:40px;
    width: 40px;
    background-color: #222725;
    border-radius: 50%;
    gap: 10px;
    border: none;
    cursor: pointer;
}
.signlogin{
    width: 500px;
    height: 64px;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 5px;
    margin-right: 20px;

    
    
}
#login{
    width: 109px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: #0c1821;
    font-size: 15px;
    font-weight: 500;


}
.butt{
    width: 95px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: rgb(231, 222, 222);
    font-size: 15px;
    font-weight: 500;
    background: none;

}
.line{
    color:rgb(231, 222, 222);
    font-size: large;
    font-weight: 500;
}
.butt:hover{
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
    position: static;
}
#login:hover{
    color: #000000;
    width: 110px;
    height: 49px;
    font-size: 17px;
    transition: all 0.3s ease;
    
}

/* displaysong dic */

.displaySong{
    width:77.5vw;
    min-height: 60%;
    background-color: black;
    margin-top: 1vh;
  
}

.addInformation{
    width:77.5vw;
    min-height:40%;
    background-color: black;
}
footer{
    width:77.5vw;
    min-height:10%;
    /* background-color: white; */
}

.sample{
    width: 300px;
    aspect-ratio: 1;
    border: 2px solid black;
    margin-top: 2px;
}

.logo{
    width: 20vw;
    height: 7vh;
    background-color: #121212;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
     
}
.logoBox{
    height:7vh;
    width: 10vw;
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    cursor: pointer;
    /* padding:2px; */
}

.homeSearch{
    width:20vw;
    height:15vh;
    background-color: #121212;
    padding-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.home{
    height:7vh;
    width: 10vw;
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
    cursor: pointer;
}

.search{
    height:7vh;
    width: 10vw;
    display: flex;
    align-items: center;
    color: white;
    gap: 15px;
    cursor: pointer;
    
}

/* library box style */

.libraryBox{
    width:20vw;
    height:8vh;
    background-color: #121212;
    margin-top: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
    padding-right:10px ;
}
.icon-library{
    height:7vh;
    width: 10vw;
    display: flex;
    align-items: center;
    color: #A7A7A7;
    gap: 15px;
    cursor: pointer;
}
.icon-library i{
    color: #A7A7A7;
}
.icon-library:hover,
.icon-library i:hover{
    color: white;
}
.libraryBox button{
    height:40px;
    width: 40px;
    background-color: #121212;
    border-radius: 50%;
    gap: 10px;
    border: none;
    cursor: pointer;
}
#library-butt i{
    
    color:rgb(231, 222, 222);
}
#library-butt:hover,
#library-butt i:hover{
    background-color: #242424;
    color: white;
    
}
 
.library-content{
    width: 20vw;
    max-height: 30vh;
    background-color: #121212;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
    
}
.library-content:hover {
    overflow: auto;
    overflow-x: hidden;
  }
  
  
  
  /* Customize the scrollbar styles */
  .library-content::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .library-content::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track transparent */
  }
  
  .library-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent color for the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
  }
  
  .library-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(94, 91, 91, 0.7); /* Darker color on hover */
  }
.playlist1{
    width: 19vw;
    min-height: 20vh;
    background-color: #242424;
    margin-top: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
    padding-left: 15px;
    
}
.text{
    width: 19vw;
    height: 10vh;
    /* background-color: #000; */
    color: white;
    padding: 10px;

}
#headtext{
    font-size: 16px;
}
#paratext{
    font-size: 14px;
}
#playlist-butt{
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border: none;
    color: #0c1821;
    font-size: 15px;
    font-weight: 600;
    
}
#playlist-butt:hover{
    color: #000000;
    width: 160px;
    height: 36px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.sideBoxinfo{
    width: 20vw;
    min-height:29.65vh;
    background-color: #121212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: #A7A7A7;
    cursor: pointer;
    padding-bottom: 10px;
}
#cookieslink{
    color: #A7A7A7;
    text-decoration: underline;
}
 

#sideboxifo-linksbutt{
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 130px;
    height: 45px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
#sideboxifo-linksbutt:hover{
    
   border: 2px solid white;
     
    
}


.mostlistenSongs{
    width: 100%px;
    height: 25vh;
    background-color: #121212;
    color: white;
} 


.topboxtitle{
    width: 100%;
    height: 6vh;
    background-color: #121212;
    color: rgb(37, 21, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    

}

/* #121212 */
.textboxtop{
    width: 90%;
    height: 5vh; 
    background-color: #121212;
    color: #fff;
    padding-left: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 5%;
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: center;
    



}
.showall{
    width: 10%;
    height: 5vh;
    background-color: #121212;
    color: #A7A7A7;
    padding-left: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    flex-wrap: wrap;
    
    
}
.showallbutton{
    width: 90%;
    height: 5vh;
    background:none;
    font-size: medium;
    font-weight: 500;
    border: none;
    color: #A7A7A7;
    cursor: pointer;

}
.showall:hover{
    text-decoration: underline;
    color: white;
}
.textboxtop:hover{
    text-decoration: underline;
}





.songsfolders{
    width: 100%px;
    min-height: 50vh;
    background-color: rgb(221, 212, 212);
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cardsbox{
    max-width: 100%;
    min-height:40vh ;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    padding:10px;
}

.cardmainbox{
    width: 18.5%;
    height: 35vh;
    background-color: #121212;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}

.cardinnerbox{
    max-width: 95%;
    min-height: 33vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 2px;
    
}

.cardimgbox{
    width:90%;
    height: 20vh;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.imgbox{
    width: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: none;
    border: none;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.1);;

}

.cardtextbox{
    width:90% ;
    height:10vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 0;
    
}
.cardtitlebox{
    max-width: 100%;
    height: 4vh;
    background-color: none;
    color: white;
}
.cardinfotext{
    width: 100%;
    height: 3vh;
    background-color: none;
    color: #A7A7A7;
    
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    
    
    
}
.cardinfotext{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.cardinfotext:hover{
    text-decoration: underline;
    color: white;
}

.hovereffct:hover{
    background-color: #242424;
    transition: background-color 0.3s ease;
}




 
 
